body {
  font-family: Verdana;
  font-size: 1.5em; }
  body h1 {
    color: red; }

#team-members {
  display: inline-block; }
  #team-members .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;
    height: 300px;
    width: 180px;
    position: relative; }
    #team-members .member:hover .first {
      opacity: 0; }
    #team-members .member:hover .second {
      opacity: 1;
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg); }
    #team-members .member img {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 0px;
      border-radius: 15px;
      box-shadow: 10px 10px 5px #888888;
      transition: all 0.5s ease; }
    #team-members .member div.name {
      text-align: left;
      width: 800px;
      position: absolute;
      bottom: 80px; }
    #team-members .member .second {
      opacity: 0; }
