$primaryColor: #FF0000;


body {
  font-family: Verdana;
  font-size: 1.5em;

  h1 {
    color: $primaryColor;
  }
}


#team-members {

display: inline-block;


  .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
  height: 300px;
  width: 180px; 
  position: relative;

  &:hover {
    .first {
      opacity: 0;
      
    }
    .second {
      opacity: 1;
    }
  }

  img {
    width: 200px;
    height: 200px;  
    position: absolute;
    top: 0px;
  }

  div.name {
  text-align: left;  
  width: 800px;
  position: absolute;
  bottom: 80px;  
  }

  .second {
    opacity: 0;
  }

  }
}