$primaryColor: #FF0000;


body {
  font-family: Verdana;
  font-size: 1.5em;

  h1 {
    color: $primaryColor;
  }
}


#team-members {

display: inline-block;


  .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
  height: 300px;
  width: 180px; 
  position: relative;

    &:hover {
      .first {
        opacity: 0;
      }
      
      &:nth-child(odd) {
      .second {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
        opacity: 1;
      }

      &:nth-child(even) {
        .second {
          opacity: 1;
        }
      
    }
  }
}

  img {
    width: 200px;
    height: 200px;  
    position: absolute;
    top: 0px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
    transition: all 0.5s ease;
  }

  div.name {
  text-align: left;  
  width: 800px;
  position: absolute;
  bottom: 80px;  
  }

  .second {
    opacity: 0;

      // transition: opacity 0.25s 0.1s, left 0s;/* ??? */
      -webkit-transition: opacity 0.25s 0.1, left 0s, -webkit-transform 1s;/* Safari */
  }

  }
}




//   &:hover {
//     .first {
//       opacity: 0;
      
//     }
//     .second {
//       opacity: 1;
//     -webkit-transform: rotateZ(360deg);
//     -moz-transform: rotateZ(360deg);
//     transform: rotateZ(360deg);
//     }

//     &:nth-child(1) {
//     transition: opacity 0.25s 0.1s, left 0s; /* ??? */
//     -webkit-transition: opacity 0.25s 0.1, left 0s; /* Safari */

//     }
//   }

//   img {
//     width: 200px;
//     height: 200px;  
//     position: absolute;
//     top: 0px;
//     border-radius: 15px;
//     box-shadow: 10px 10px 5px #888888;
//     transition: all 0.5s ease;
//   }

//   div.name {
//   text-align: left;  
//   width: 800px;
//   position: absolute;
//   bottom: 80px;  
//   }

//   .second {
//     opacity: 0;
//   }

//   }
// }

